*{
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}


.hero-text {
    position: absolute;
    top: 50%;        
    left: 20%;       
    transform: translateY(-50%); 
    text-align: left; 
    width: 450px;         
    z-index: 2;
}

.main-title {
    color: white;
    font-size: 90px;
    font-weight: 700;
    font-family: 'Times New Roman', serif;
    margin: 0;
}

.subtext {
    color: white;
    font-size: 18px;
    line-height: 1.4;
    margin-top: 13px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.space {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2 )),
  url('Home_images/Main_header_bg.jpg');
  background-size: cover;
  background-position: center;
}




.read-button {
    text-decoration: none; 
    background: linear-gradient(45deg, #dc4848, #f65e5e); 
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.read-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
}

nav {
  position: fixed;
  top: 20px;       
  right: 20px;     
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.05); 
  padding: 10px 15px;
  border-radius: 10px;
}

nav .nav-link {
  color: white !important;
}

nav a {
  position: relative;
  z-index: 1;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  transition: color 0.5s ease; 
}

nav a:hover {
  color: #ff3333;
}

nav span {
  position: absolute;
  top: 0;
  left: 0;
  width: 95px;
  height: 100%;
  background: linear-gradient(45deg, #dc4848, #f65e5e);
  border-radius: 8px;
  transition: all 0.5s ease; 
}


nav a:nth-child(1):hover ~ span {
  left: 0px;
  width: 80px;
}

nav a:nth-child(2):hover ~ span {
  left: 60px;
  width: 105px;
}

nav a:nth-child(3):hover ~ span {
  left: 135px;
  width: 145px; 
}

nav a:nth-child(4):hover ~ span {
  left: 260px;
  width: 140px;
}

.logo {
  width: 1556px;
  height: 140px;
  display: block;       
  margin: 20px auto 0; 
}

.space-faq{

 height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2 )),
  url('Home_images/Main_header_bg.jpg');
  background-size: cover;
  background-position: center;
}

.image-row {
    display: flex;
    justify-content: center;
    gap: 154px;           
    margin-top: 40px;
}

.image-card {
    text-align: center;
}

.image-card h3 {
    margin-bottom: 10px;
    color: rgb(230, 58, 58);       
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

.image-card img {
    width: 320px;     
    height: 200px;    
    object-fit: cover; 
    border-radius: 10px;
    box-shadow: 0 10px 25px #B2D9C4; 
    transition: transform 0.3s ease;  
}

.image-card img:hover {
    transform: scale(1.05);  
}


.image-card {
    width: 320px;             
    text-align: center;
}

.image-card p {
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
    color: rgb(30, 30, 30);
    text-align: justify;
}


#carouselFAQ img {
    width: 100%;          
    height: 450px;        
    object-fit: cover;     
    display: block;
}


.carousel-section {
    width: 90%;
    max-width: 900px;
    margin: 50px auto;
}

.carousel-title {
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(30, 30, 30);
    margin-top: 20px;
    margin-bottom: 20px; 
}

.carousel-wrapper {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px #B2D9C4;
}

.carousel-story {
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(30, 30, 30);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

#references {
    padding: 40px 20px;
    color: #0e0505;
    font-family: 'Times New Roman', Times, serif;
}

#references .line{
  width: 267px;
  height: 4px;
  margin: auto;
  background-color: #de3b3b; 
  border-radius: 2px; 
  margin-bottom: 25px; 

}


#references .section-title h1 {
    text-align: center;
    font-size: 46px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    margin-top: 0%;
}


#references .references-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1px; 
}

#references .references-list p{
    text-align: center;
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

#references .references-list a {
    color: #050e0b;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    transition: color 0.3s, transform 0.2s;
}


#references .references-list a:hover {
    color: #fc855d;      
    transform: scale(1.05); 
}


.section-title h1{
  font-size: 50px;
  color: rgb(9, 1, 3);
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.section-title .line {
  width: 556px;
  height: 4px;
  margin: auto;
  background-color: #de3b3b; 
  border-radius: 2px;        
}

section{
  margin: 80px auto;
}

.ethics {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 120px;
}

.ethic {
  width: 300px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ethic img {
  width: 100%;
  height: auto;        
  aspect-ratio: 4 / 5; 
  object-fit: cover; 
  border-radius: 10px;
  box-shadow: 0 5px 15px #0b0203;
  transition: transform 0.3s ease;
}

.ethic img:hover {
  transform: scale(1.05);
}

.ethic p {
  font-size: 1em;
  font-family: 'Times New Roman', Times, serif;
  margin: 10px 0 0 0;
  color: rgb(30, 30, 30); 
  text-align: justify;
}

.ethic h3 {
  margin: 20px 0 10px 0;
  font-size: 35px;
  font-family: 'Times New Roman', Times, serif;
  color: #ff3333;
  text-align: center;
}


#quote{
  background: #f6e1e1;
}

#quote .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  gap: 30px;
  padding: 50px 16px ;
}

#quote h1{
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

#quote .profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 17px;
  width: 17px;
 
}

#quote .profile h4{
 font-size: 1.5em;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.more-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  align-items: flex-start;
  margin-top: 60px;
}

.more-images {
  flex: 1 1 300px; 
  display: flex;
  flex-direction: column;
  gap: 50px; 

}

.more-images img {
  width: 85%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 5px 15px #0b0203;
  transition: transform 0.3s ease;
}

.more-images img:hover {
  transform: scale(1.05);
}

.more-content {
  flex: 2 1 500px; 
}

.more-content h4 {
  font-size: 38px;
  color: #ff3333;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 20px;
}

.more-content p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: rgb(30, 30, 30);
  text-align: justify;
  line-height: 1.6;
}

#ethicsCarousel img {
  width: 150%;
  height: 250px;
  object-fit: cover;
  display: block;
}


.ethics-carousel-section {
  width: 90%;
  max-width: 500px;
  margin: 0; 
}

.ethics-carousel-wrapper {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 10px #1f201f;
}

#ending .container{
  max-width: 500px;
  display: flex;
  flex-direction:column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 400px;
}

#ending h1{
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
}
#ending p{

    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(30, 30, 30);
}

a.links {
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(224, 71, 71);
}
